# CONFIGURACIÓN DE BASE DE DATOS - DESARROLLO (LOCAL)
DEV_DB_URL=jdbc:postgresql://localhost:5432/tu_base_datos
DEV_DB_USER=tu_usuario
DEV_DB_PASS=tu_contraseña

# CONFIGURACIÓN DE BASE DE DATOS - PRODUCCIÓN
PROD_DB_URL=
PROD_DB_USER=
PROD_DB_PASS=